@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.eot),
    url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff),
    url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto, sans-serif;
}

.bold {
    font-weight: 700
}

/* Don't change button styles after click */
.btn.btn-success:focus {
    background-color: #2ab27b;
    border-color: #259d6d;
    outline: none;
    box-shadow: none;
}

.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover {
    background-color: #20895e;
}

/*_Don't change button styles after click_*/

.productImage {
    max-width: 100px;
    max-height: 100px;
}

.productImageInShowParent{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productImageInShow {
    display: flex;
    height: 180px;
    border: 1px solid gray;
    position: relative;
}

.productImageInShow.main {
    border-width: thick;
}

.productImageInShow img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.productImageInEditParent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productImageInEdit {
    display: flex;
    height: 180px;
    border: 1px solid gray;
    position: relative;
}

.productImageInEdit img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.deleteImageButton {
    position: absolute;
    right: 8px;
    top: 8px;
    color: darkred;
    font-size: 30px;
    cursor: pointer;
}

.modalDelete {
    overflow: hidden;
}

.descriptionTextarea {
    resize: none;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }

    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-right-9 {
        margin-right: 75%;
    }

    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-right-6 {
        margin-right: 50%;
    }

    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-right-3 {
        margin-right: 25%;
    }

    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-right-9 {
        margin-right: 75%;
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-right-6 {
        margin-right: 50%;
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-right-3 {
        margin-right: 25%;
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }

    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-right-9 {
        margin-right: 75%;
    }

    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-right-6 {
        margin-right: 50%;
    }

    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-right-3 {
        margin-right: 25%;
    }

    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}